:root {
    --primary: #FF6F0F;
    --secondary: #FFF0E6;
    --light: #F8F8F9;
    --dark: #001D23;
}

/* About Us : modified styles (Raphael) */
.dreams {
    margin-top: 4em;
    width: 100%;
    /* float: left; */
    height: fit-content;
    justify-content: space-around;
  }

 
  
  .dreams h3 {
    font-size: 2em;
    /* width: 25%; */
    border: 0;
    /* padding: 20px; */
    /* margin: auto; */
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .aspect-box {
    border: 1px solid #FF6F0F;
    width: 50%;
    height: 300px;
    margin: 1em;
    display: flex;
    flex-basis: 40%;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .aspect-box {
      width: 60%;
      flex-basis: 65%;
    }

    .lgoal{
      margin-top: 1em;
    }
  }
  
  /* #dreamTitle {
    border: 0;
  } */

  .aspect-box h2 {
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 1.5em;
    color: #ffffff;
    background-color: #FF6F0F;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
  
  .aspect-box p {
    margin: auto;
    padding: 1.5em;
    font-size: 1em;
  }

  .goals h2{
    color: var(--light);
  }

  .sgoal h2{
    color: var(--light);
  }

  .lgoal h2{
    color: var(--light);
  }
  